@font-face {
  font-family: 'Futura PT';
  src: url(../fonts/FUTURAPT-LIGHT.TTF);
  font-weight: 300;
}

@font-face {
  font-family: 'Futura PT';
  src: url(../fonts/FUTURAPT-BOOK.TTF);
  font-weight: 400;
}

@font-face {
  font-family: 'Futura PT';
  src: url(../fonts/FUTURAPT-MEDIUM.TTF);
  font-weight: 450;
}

@font-face {
  font-family: 'Futura PT';
  src: url(../fonts/FUTURAPT-DEMI.TTF);
  font-weight: 500;
}

@font-face {
  font-family: 'Futura PT';
  src: url(../fonts/FUTURAPT-HEAVY.TTF);
  font-weight: 600;
}

@font-face {
  font-family: 'Futura PT';
  src: url(../fonts/FUTURAPT-BOLD.TTF);
  font-weight: 700;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.link {
  text-decoration: none;
  cursor: pointer;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.image {
  display: block;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

  max-width: 360px;
}

/* section-header */

.header {
  background-color: #300836;
}

.header .container {
  padding-left: 16px;
  padding-right: 16px;
}

.background-container {
  padding-top: 40px;
  padding-bottom: 59px;
  background-image: url(../images/header-background-mobile-1x.jpg);
  background-repeat: no-repeat;

  background-size: cover;

  max-width: 428px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .background-container {
    background-image: url(../images/header-background-mobile-2x.jpg);
  }
}

.start-date-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.start-date-container::before {
  content: '';
  display: block;

  height: 1px;
  width: 100%;
  background-color: #fff;

  margin-top: 0;
  margin-bottom: 5px;

  margin-left: auto;
  margin-right: auto;
}

.start-text {
  color: #fff;
  font-family: Futura PT;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.start-date {
  color: #fff;
  font-family: Futura PT;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.header-title {
  color: #fff;
  text-align: center;
  font-family: Futura PT;
  font-size: 54px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;

  margin-bottom: 337px;
}

.header-course-description {
  color: #fff;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Futura PT;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 19.2px */
  text-transform: uppercase;

  margin-bottom: 20px;

  max-width: 309px;
  margin-left: auto;
  margin-right: auto;
}

.header-course-description span {
  font-weight: 300;
  text-transform: lowercase;
}

.buy-button-container {
  position: relative;
}

.header-link-button {
  color: #fff;
  font-family: Futura PT;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;

  display: flex;
  padding: 14px 100px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  max-width: 298px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  border-radius: 10px;
  background: var(--Linear, linear-gradient(90deg, #780f9d 0%, #c471e0 100%));

  animation: pulseScale 2000ms infinite;

  margin-bottom: 20px;

  cursor: pointer;
}

/* timer */

.countdown {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 8px;

  margin-bottom: 40px;
}

.countdown-time {
  display: block;

  color: #fff;
  text-align: center;
  font-family: 'Futura PT';
  font-size: 36px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.56px;

  width: 70px;
}

.countdown-doubledot {
  content: '';
  display: flex;

  height: 25px;
  width: 1px;
  background: #fff;

  margin-top: 40px;
  margin-bottom: 40px;

  margin-left: auto;
  margin-right: auto;

  margin-top: 0;
  margin-bottom: 0;
}

.timer-text {
  color: #ffe7b9;
  text-align: center;
  font-family: 'Futura PT';
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 16.8px */
  text-transform: uppercase;

  margin-bottom: 10px;

  max-width: 189px;
  margin-left: auto;
  margin-right: auto;
}

.timer-text span {
  font-weight: 600;
}

.header-bonus-wrapper {
  padding: 20px;

  max-width: 300px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  border-radius: 15px;
  border: 1px solid #c681de;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(2.5px);

  margin-bottom: 80px;
}

.header-bonus-wrapper .bonus-title {
  color: #c681de;
  text-align: center;
  font-family: 'Futura PT';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 24px */
  text-transform: uppercase;

  margin-bottom: 15px;
}

.bonus-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bonus-list .list-item {
  color: #fff;
  text-align: center;
  font-family: 'Futura PT';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.28px;
}

.bonus-list .list-item span {
  font-weight: 500;
}

/* section-one */

.sect-one-title {
  color: #fff;
  text-align: center;
  font-family: Futura PT;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;

  margin-bottom: 20px;
}

.sect-one-list {
  display: flex;
  flex-direction: column;
}

.sect-one-list .one-list-item {
  padding: 20px;
  position: relative;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  width: 298px;
  margin-left: auto;
  margin-right: auto;
}

.one-list-decoration {
  content: '';
  display: block;

  height: 40px;
  width: 1px;
  background-color: #9e51ba;

  margin-left: auto;
  margin-right: auto;
}

.sect-one-list .one-list-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  border: 1px solid transparent;
  background: linear-gradient(90deg, #6c138b, #d18ee8) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

.sect-one-list .one-list-item {
  color: #fff;
  text-align: center;
  font-family: Futura PT;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
}

.sect-one-list .one-list-item span {
  font-weight: 500;
}

/* section-two */

.section-two {
  padding-top: 56px;
  padding-bottom: 60px;
}

.sect-two-title-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
}

.sect-two-title {
  color: #171717;
  font-family: Futura PT;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;

  margin-bottom: 30px;
}

.author-image {
  display: block;
  margin-left: auto;
  margin-right: auto;

  margin-bottom: 10px;
}

.course-author {
  color: #171717;
  text-align: center;
  font-family: Futura PT;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;

  margin-bottom: 10px;
}

.course-author-list {
  display: flex;
  flex-direction: column;
  gap: 5px;

  margin-bottom: 20px;
}

.course-author-list .list-item {
  color: #171717;
  text-align: left;
  font-family: 'Futura PT';
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 18px */

  max-width: 221px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.course-author-wrapper {
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #d08ee8;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2.5px);

  max-width: 280px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.author-wrapper-title {
  color: #171717;
  text-align: center;
  font-family: 'Futura PT';
  font-size: 16px;
  font-style: normal;
  font-weight: 450;
  line-height: 120%; /* 19.2px */

  margin-bottom: 10px;
}

.author-wrapper-text {
  color: #1e1e1e;
  text-align: center;
  font-family: 'Futura PT';
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 15.6px */
}
/* section-three */

.section-three {
  padding-top: 60px;
  padding-bottom: 60px;

  background-image: url(../images/section-three-background-mobile-1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .section-three {
    background-image: url(../images/section-three-background-mobile-2x.jpg);
  }
}

.sect-three-title {
  color: #fff;
  text-align: center;
  font-family: Futura PT;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;

  margin-bottom: 40px;
}

.course-wrapper-program {
  position: relative;

  padding: 25px 30px;
  border-radius: 20px;
  border: 1px solid #c681de;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(2px);

  max-width: 320px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  margin-bottom: 80px;
}

.wrapper-program-dots {
  position: absolute;
  top: 142px;
  left: 30px;
}

.course-wait-you {
  color: #c681de;
  text-align: center;
  font-family: 'Futura PT';
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 18px */
  text-transform: uppercase;

  margin-bottom: 20px;
}

.course-program-list {
  display: flex;
  flex-direction: column;
  gap: 20px;

  padding-left: 28px;
}

.course-program-list .list-item {
  color: #fff;
  font-family: 'Futura PT';
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 18px */

  max-width: 227px;
  width: 100%;
}

.wrapper-two {
  position: relative;
  padding: 25px 14px;
  border-radius: 20px;
  border: 1px solid #c681de;
  background: rgba(23, 23, 23, 0.01);
  backdrop-filter: blur(2px);

  width: 100%;
  max-width: 320px;

  margin-left: auto;
  margin-right: auto;
}

.wrapper-two-decor {
  position: absolute;
  top: -40px;
  right: 12px;
}

.wrapper-two-title {
  color: #fff;
  text-align: center;
  font-family: Futura PT;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 28px */
  text-transform: uppercase;

  margin-bottom: 30px;
}

.wrapper-two-title span {
  color: #c681de;
}

.wrapper-two-list {
  display: flex;
  flex-direction: column;
}

.wrapper-two-list .list-item {
  color: #fff;
  text-align: center;
  font-family: 'Futura PT';
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 18px */

  max-width: 270px;
  margin-left: auto;
  margin-right: auto;
}

/* section-five */

.section-five {
  padding-top: 60px;
  padding-bottom: 60px;
}

.sect-five-title {
  color: #171717;
  text-align: center;
  font-family: Futura PT;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 90%;
  text-transform: uppercase;

  max-width: 257px;
  margin-left: auto;
  margin-right: auto;

  margin-bottom: 30px;
}

.sect-five-title span {
  color: #c681de;
}

.program-course-container {
  margin-bottom: 80px;
}

.program-course-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.program-course-list .list-item {
  padding: 20px;
  border-radius: 20px;
  background: var(--Linear, linear-gradient(90deg, #780f9d 0%, #c471e0 100%));
  backdrop-filter: blur(2px);

  color: #fff;
  font-family: 'Futura PT';
  font-size: 16px;
  font-style: normal;
  font-weight: 450;
  line-height: 110%; /* 17.6px */
}

/* CE VSE ZA CINOY */

.wrapper-all {
  background: #fff;

  padding: 30px 20px;

  max-width: 320px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  border-radius: 10px;
  border: 1px solid var(--Linear, #780f9d);
  background: #fff;

  margin-bottom: 20px;
}

.wrapper-all .wrapper-title {
  color: #9e51ba;
  text-align: center;
  font-family: 'Futura PT';
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 64%; /* 46px */
  text-transform: uppercase;
}

.wrapper-all .wrapper-title span {
  color: #101010;
  font-size: 24px;
}

.wrapper-all .wrapper-title::after {
  content: '';
  display: block;

  width: 100px;
  height: 1px;

  background: #101010;

  margin: 20px auto;
}

.wrapper-all .second-wrapper {
  border-radius: 15px;
  background: #eed9f5;

  padding: 10px;

  max-width: 280px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  margin-bottom: 10px;
}

.old-price {
  color: #9e51ba;
  text-align: center;
  text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.25);
  font-family: 'Futura PT';
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: 115%; /* 34.5px */

  text-decoration: line-through;
  text-decoration-color: black;
}

.new-price {
  color: #101010;
  text-align: center;
  text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.25);
  font-family: 'Futura PT';
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 115%; /* 46px */
}

.price-list .list-item span {
  font-weight: 700;
}

.price-description {
  color: #696969;
  text-align: center;
  font-family: 'Futura PT';
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;

  margin-bottom: 10px;
}

.price-description span {
  color: #101010;
  font-weight: 700;
}

.buy-button {
  display: block;
  color: #fff;
  font-family: Futura PT;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;

  border: none;

  padding: 14px;
  max-width: 298px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  border-radius: 30px;
  background: var(--Linear, linear-gradient(90deg, #780f9d 0%, #c471e0 100%));

  animation: pulseScale 2000ms infinite;

  margin-bottom: 20px;

  cursor: pointer;
}

/* section-six */

.section-six {
  padding-top: 60px;
  padding-bottom: 100px;
  background: #171717;
}

.sect-six-title {
  color: #fff;
  text-align: center;
  font-family: Futura PT;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 28px */
  text-transform: uppercase;

  margin-bottom: 20px;
}

.sect-six-title span {
  color: #c681de;
  font-size: 36px;
}

/* faq-02 */

.isOpen .content-two {
  display: block;
}

.question-two {
  position: relative;

  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2px);

  padding: 20px;

  max-width: 320px;

  margin-left: auto;
  margin-right: auto;

  margin-bottom: 10px;
}

.question-two::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 20px;
  border: 1px solid transparent;
  background: linear-gradient(45deg, #6c138b, #c471e0) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

.last-question {
  margin-bottom: 0;
}

.content-two {
  display: none;
}

.content-two p {
  color: #fff;
  font-family: Futura PT;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 17.6px */
}

.question-two-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.question-two-name > p {
  color: #fff;
  font-family: Futura PT;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 18px */
  text-transform: uppercase;

  max-width: 240px;
}

.content-two p {
  padding-top: 10px;
}

.question-plus {
  transform: rotate(0);

  transition: transform 250ms linear;
}
.question-two.open .question-plus {
  transform: rotate(45deg);
}

/* section-six prod */

.section-six .wrapper {
  position: relative;
  padding: 25px;

  width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.section-six .wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 20px;
  border: 1px solid transparent;
  background: linear-gradient(45deg, #780f9d, #c471e0) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

.wrapper-list-six {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section-six .wrapper-text {
  color: #fff;
  text-align: center;
  font-family: Futura PT;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 18px */
}

/* footer */

.footer {
  padding-top: 0;
  padding-bottom: 40px;
  background: #171717;
}

.footer-deals a {
  display: block;

  color: #fff;
  text-align: center;
  font-family: 'Futura PT';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer-deals-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-deals::after {
  content: '';
  display: block;

  height: 1px;
  width: 100px;
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0) 0%,
    #fff 50.9%,
    rgba(255, 255, 255, 0) 100%
  );

  margin-top: 24px;
  margin-bottom: 24px;

  margin-left: auto;
  margin-right: auto;
}

.social-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;

  margin-bottom: 40px;
}

.footer-mail {
  display: block;
  color: #fff;
  text-align: center;
  font-family: 'Futura PT';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;

  margin-bottom: 20px;
}

@keyframes pulseScale {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.08;
  }
  100% {
    scale: 1;
  }
}

/* header-sale-mark-pink */

.header-sale-mark {
  position: absolute;
  top: -38px;
  right: -10px;
}

.sale-mark {
  position: relative;

  animation: spin 2s linear infinite;
  animation-duration: 10s;
}

.rotate {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.sale-number {
  position: absolute;
  top: 50%;
  left: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;

  transform: translate(-50%, -50%);

  color: #fff;

  color: #fff;
  font-family: 'Futura PT';
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 30%;
  text-transform: uppercase;
}

.sale-number span {
  color: #fff;
  font-family: Manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 450;
  line-height: normal;
  text-transform: lowercase;
}

/* timer-two */

.countdown-two {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 8px;

  margin-bottom: 42px;
}

.countdown-time-two {
  display: block;
  color: #171717;
  text-align: center;
  font-family: 'Futura PT';
  font-size: 36px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.56px;

  width: 70px;
}

.countdown-doubledot-two {
  content: '';
  display: flex;

  height: 30px;
  width: 1px;
  background: #171717;

  margin-top: 40px;
  margin-bottom: 40px;

  margin-left: auto;
  margin-right: auto;

  margin-top: 0;
  margin-bottom: 0;
}

.timer-text {
  color: #865396;
  text-align: center;
  font-family: 'Futura PT';
  font-size: 14px;
  font-style: normal;
  font-weight: 450;
  line-height: 120%; /* 16.8px */
  text-transform: uppercase;

  max-width: 203px;

  margin-left: auto;
  margin-right: auto;
}

/* bonus */

.bonus-wrapper {
  max-width: 300px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  border-radius: 15px;
  border: 1px solid #c681de;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(2.5px);

  padding: 20px;
}

.sect-five-title::before {
  content: '';
  display: block;

  width: 140px;
  height: 1px;
  margin-left: auto;
  margin-right: auto;

  background: #171717;

  margin: 40px auto;
}

.bonus-wrapper .bonus-title {
  color: #c681de;
  text-align: center;
  font-family: 'Futura PT';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 24px */
  text-transform: uppercase;

  margin-bottom: 15px;
}

.bonus-wrapper .bonus-title span {
  font-size: 12px;
}

.bonus-wrapper .bonuses-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
  padding-left: 10px;
}

.bonus-wrapper .bonuses-list .list-item {
  color: #171717;
  text-align: center;
  font-family: 'Futura PT';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.28px;
}

.bonus-wrapper .bonuses-list .list-item span {
  font-weight: 500;
}

.black-text {
  color: #171717;
}

.bonus-wrapper .black-text {
  color: #171717;
}

.reviews-container {
  margin-bottom: 80px;
}

.review-title {
  color: #c681de;
  text-align: center;
  font-family: 'Futura PT';
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 43.2px */
  text-transform: uppercase;

  margin-bottom: 20px;
}

.result-texts-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.result-texts-list .list-item {
  color: #171717;
  text-align: center;
  font-family: 'Futura PT';
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 18px */

  max-width: 265px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.result-texts-list .list-item:nth-child(2) {
  margin-bottom: 10px;
}

.result-texts-list .list-item:nth-child(3) {
  color: #ff2f9f;
  font-size: 16px;
  line-height: 110%; /* 17.6px */
}

/* swiper */

.swiper {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;

  height: 320px;
}

.review-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.picture-container {
  max-width: 280px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border-radius: 30px;
  border: 1px solid #d18ee8;
}

.swiper-pagination {
  --swiper-pagination-color: #fff;
  --swiper-pagination-bullet-inactive-color: rgba(255, 255, 255, 0.9);
}

/* solution */

.solution-text {
  color: #fff;
  text-align: center;
  font-family: 'Futura PT';
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 18px */
}

/* fop-container */

.fop-container {
  margin-bottom: 20px;
}

.fop-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fop-list .list-item {
  color: #fff;
  text-align: center;
  font-family: 'Futura PT';
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

/* disign creator */

.disign-creator-link {
  display: block;
}

.disign-creator {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;

  padding: 7px;
  border-radius: 40px;
  border: 0.3px solid #ffffff88;

  max-width: 189px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.create-by-text {
  color: #fff;
  font-family: 'Futura PT';
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

/* modal */

body.show-modal .backdrop {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

body.show-modal .modal {
  transform: scale(1);
}

.backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 998;

  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out;

  padding: 30px;

  overflow-y: scroll;
}

.modal {
  position: relative;
  padding: 78px 15px 78px 15px;
  border-radius: 20px;
  width: 100%;
  max-width: 520px;
  min-height: 308px;
  background-color: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);

  transform: scale(1.1);
  transition: transform 200ms ease-in-out;

  overflow-y: scroll;
}

.modal-title {
  color: #171717;
  text-align: center;
  font-family: Futura PT;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 18px */

  margin-bottom: 20px;
}

.modal-close-button {
  position: absolute;
  top: 30px;
  right: 30px;
  background: none;
  border: none;

  cursor: pointer;
}
